<html>
  <h1>{{title}}</h1>
  <h2>{{contador}}</h2>
  <button (click)="aumentar()">aumentar</button>
  <button (click)="disminuir()">disminuir</button>
  <button (click)="multiplicarx2()">multiplicarx2</button>
  <button (click)="division()">divisionx2</button>
  <button (click)="resetear()">resetear</button>
  <br>
  <br>
  <br>
  <span>
    ¿Es mayor a 10? {{contador > 10}}
  </span>
  <br>
  <span>
    ¿Es menor a 20? {{contador < 20 }}
  </span>
  <br>
  <span>
    Es mayor o igual a 5? {{contador >= 5}}
    <br>
    Es menor o igual a 4? {{contador <= 4}}
  </span>
  <br>
  <span>
    El valor es igual a 6? {{contador === 6 }}
    <br>
    El valor es diferente a 3? {{contador !== 3}}
    <br>
    El numero es par? {{esPar(contador)}}
    <br>
    Es impar y es igual a 5? {{!esPar(contador) && contador === 5}}
    <br>
    Es par y es igual a 3? {{esPar(contador) && contador === 3 }}
    <br>
    celcius a fahrenheit {{contador *1.8 + 32}}
  </span>
  <br>
  <span> {{estudiantes}}</span>
  <br>
  <span> {{estudiantes[1]}} </span>
  <br>
  <span> {{estudiantes.length}} </span>
  <br>
  <span>
    cual es el ultimo de la lista? {{estudiantes[estudiantes.length -1]}}
  </span>
  <br>
  <span>
    {{estudiantes.sort()}}
  </span>
  <br>
  <br>
  <h2>
    {{animales[2].alimentacion}}
  </h2>
  <ul>
    <li> {{animales[1].nombre}} </li>
    <li> {{animales[2].nombre}} </li>
  </ul>
  <ul>
    <li *ngFor = "let animal of animales">
      {{animal.nombre}}
    </li>
  </ul>
  <br>
  <br>
  <div *ngFor = "let animal of animales" class="targeta">
    <img class="imagen" [src]="animal.imagen" >
    <div class="datos">
      <span> Nombre: {{animal.nombre}} </span>
      <br>
      <span>Peso: ({{animal.peso}})</span>
      <br>
      <span>Color: {{animal.color}} </span>
      <span>Numero de patas: {{animal.numero_patas}}</span> 
      <br>
      <span>Alimentacion: {{animal.alimentacion}} </span>
      <br>
      <span>Vuela: {{animal.vuela}} </span>
      
    </div>
  </div>
</html>